/* Questo è il CSS dell'index */

body {
  background-color: #202733;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
